

/* Define standard variables and values for website */

$textCenter:center;
$textLeft:left;
$textRight:right;
$greenColor:#10C8CD;
$blueColor:#163C7B;
$whiteColor:#ffffff;
$bdrRadius3:3px;
$floatLeft:left;
$floatRight:right;


/* Define standard variables and values for website */

/* Sass Importing Files Start*/

@import "_process";
@import "_features";
@import "_home-slider";
@import "_reset";
@import "_header";
@import "_faq";
@import "_footer";
@import "_login";
@import "_signup";
@import "_simple-line-icons";
@import "_weather-icons";
@import "_contact-us";
@import "_blog";
@import "_plans";
@import "_font_awesome_icons";


/* Sass Importing Files End*/

/* Sass Mixins Start*/


/* Sass Mixins End*/

/* Sass Directive Start*/


/* Sass Directive End*/



